<h1>Productos</h1>


<div id="table" ><p>No se encontraron productos</p></div>

<script src="/socket.io/socket.io.js"></script>
<script src="../../index.js"></script>

<style>
    .table {
    background-color: #1f1e1e;
    color: #ffffff;
    width: 400px;
    padding: 10px;
    text-align: center;
    
    }
    .foto {
        object-fit: contain;
        max-width: 30px;
    }
    #button {
            margin-top: 10px;
            background: green;
            color: #ffffff;
            width: 80px;
            height: 30px;
    }
    form {
        width: 400px;
        margin: 30px;

    }
    h1 {
        color: blue;
    }
    .form-container {
        display: flex;
        flex-direction: column;
    }
    .user {
        font-weight: bolder;
        color: blue;
    }
    .date {
        color: brown;
    }
    .message {
        color: green;
        font-style: italic;
    }
</style>
   
  
