<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Api de Coderhouse</title>
</head>

<body>
    <div class="title-container">
        <h1 id="title">Hasta pronto {{name}}</h1>
        <div class='button' type="button"><a class="link" id="loginBtn" href="/logout/clearCookie">Login</a></div>
    </div>
    <script src="../../logout.js"></script>
    <style>

        h1 {
            color: blue;
        }
        .title-container {
            width: 500px;
            height: 50px;
            background-color: rgb(183, 244, 189);
            border-radius: 0.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;

        }
        .button {
            background-color: #f7c203;
            border-width: 0ch;
            border-radius: 0.2rem;
            width: 100px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .link {
            text-decoration: none;
            color: #000000;
        }
    </style>
</body>
</html>
